{% extends 'core/main.html' %}
{% block content %}

<div class="header">
    <h2 class="greetings">Hello {{user}}</h2>
    
    <h3><a href="{% url 'logout' %}">Logout</a></h3>
</div>
<hr>

<a class="create-task" href="{% url 'create' %}">Create New Task</a>

<p>You have {{incompleted_tasks}} incomplete task{{ incompleted_tasks|pluralize:'s' }}</p>


<div class="tasks-table">
    
    {% for task in errands %}

        {% if task.completed %}
            <div class="task">
                <h3 class="task-title"><s>{{task.title}}</s></h3>
                <div class="link-buttons">
                    <a class="detail-task" href="{% url 'detail' task.id %}">Details</a>
                    <a class="update-task" href="{% url 'update' task.id %}">Change</a>
                    <a class="delete-task" href="{% url 'delete' task.id %}" style="background-color: rgb(255, 22, 22);">&#10008;</a>
                </div>
            </div>
        {% else %}
            <div class="task">
                <h3 class="task-title">{{task.title}}</h3>
                <div class="link-buttons">
                    <a class="detail-task" href="{% url 'detail' task.id %}">Details</a>
                    <a class="update-task" href="{% url 'update' task.id %}">Change</a>
                    <a class="delete-task" href="{% url 'delete' task.id %}" style="background-color: rgb(255, 22, 22);">&#10008;</a>
                </div>
            </div>
        {% endif %}
        
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</div>

{% endblock %}
