{% extends 'core/main.html' %}
{% load static %}

{% block site_css %}<link rel="stylesheet" href="{% static 'core/errand_detail.css' %}">{% endblock %}
{% block content %}

<h1 class="detail-headline">Task detail</h1>
<a class="go-back-btn" href="{% url 'errands' %}">Go back</a>

<p class="creator-name">Name of creator: {{errand.created_by}}</p>
<p class="errand-name">Errand name: {{errand.title}}</p>
<p class="date-created">Created on: {{errand.created_time}}</p>
<p class="is-completed">Is it completed: {{errand.completed}}</p>

{% endblock %}