{% extends 'core/main.html' %}
{% block content %}

<h1 class="login-headline">Login page</h1>

<form class="login-form" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    {% if messages %}
        <ul class="error">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <input class="login-btn" type="submit" value="Log In" />
    
</form>

<div class="container-bottom">
    <div class="register-section">
        <p class="login-to-register">If you don't have an account: </p>
        <a href="{% url 'register' %}" class="register-btn">
            Register
        </a>
    </div>
    
    <br>
    <p>Third-Party Authentification Providers</p>
    
    <div class="auth-buttons">
        <a href="{% url 'github_login' %}" class="github-btn">
            <span class="github-icon"></span>
            GitHub
        </a>
    
        <a href="{% url 'google_login' %}" class="google-btn">
            <span class="google-icon"></span>
            Google
        </a>
    </div>

</div>
{% endblock %}

