{% extends 'core/main.html' %}
{% block content %}

<h1 class="register-headline">Register page</h1>


<form class="register-form" method="POST">
    {% csrf_token %}
    <label class="register-username">{{form.username.label}}</label>
    {{form.username}}

    <label class="register-password1">{{form.password1.label}}</label>
    {{form.password1}}
    
    <label class="register-password2">{{form.password2.label}}</label>
    {{form.password2}}

    <input class="register-btn" type="submit" value="Submit" />
</form>

<p class="register-to-login">Already having an account? <a href="{% url 'login' %}" class="button">Login</a></p>

{% endblock %}